<div class="container">
    <div class="row header text-center bg-success mt-1">
      <div class="col-12 text-light">
        <h3>Agentes de la Salud</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" *ngFor="let m of medics;let i = index">
        <div class="card mb-4 shadow-sm" [routerLink]="['/medics/', i]">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" [src]="m.image"
            data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-header bg-success text-light text-right">{{ m.name }}<br><small>{{ m.specialty }}</small></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
